:root{
    --fullPad: 4vw;    
    --sidePad: calc(var(--fullPad) + calc(var(--fullPad)/2));
    --thirdPad: calc(var(--sidePad)/3);
    --twoThirdPad: calc(2*var(--sidePad)/3);
}

body{
    margin: 0;
}


*{
    box-sizing:border-box;
}


@media (max-width:700px) {
    .layout{
        display: grid;
        grid-template-rows: 1fr 1fr 1fr 1fr;
        grid-template-columns: 1fr;

        height: calc(var(--vh,1vh)*100)
    }
    .one{
        grid-row: 1/span 1;
        grid-column: 1/span 1;
    }

    .two{
        grid-row: 2/span 1;
        grid-column: 1/span 1;
    }

    .three{
        grid-row: 3/span 1;
        grid-column: 1/span 1;
    }

    .four{
        grid-row: 4/span 1;
        grid-column: 1/span 1;
    }
    .door{
        background-color: #333;
        width: 90%;
        height: 80%;
        
        display:flex;
        justify-content: flex-start;
        align-items: center;
        
        background-attachment:local;
        background-position: center;
        background-size: cover;

        color: #FEFEFE;
        font-family: "Lemon";
        font-size: 1.5rem;

        border-radius: 1vw;

        transition: all 0.2s ease-in, padding 0.2s ease-in 0.1s;
        box-shadow: 0px 8px 6px -6px black;

        padding-left: 1em;

        cursor: pointer;
    }
    .panel{
        width:100%;
        height:25vh;
        background-color: #FEFEFE;
        transition: all 0.2s ease-out; 
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }
    .panel.one .door{
        background-image: url(images/TERM1_mobile.jpg);
    }

    /*.panel.two .door{
        background-image: url(images/locked_mobile.jpg);
    }
    .panel.three .door{
        background-image: url(images/locked_mobile.jpg);
    }
    .panel.four .door{
        background-image: url(images/locked_mobile.jpg);
    }*/

    .door.locked{
        background-image: url(images/locked_desktop.jpg);
        cursor: default;
    }

    .locked .comingSoon{
        font-family: AkiraEx;
        display:flex;
        align-items: center;
        position:absolute;
        right: 4.5rem;

        width: 20%;

        text-align: right;

        font-size:1rem;
    }

    .locked img{
        display:none;
    }
}

@media (min-width:701px){
    .door{
        background-color: #333;
        height:calc(100% - var(--fullPad)*2);
        
        display:flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        
        background-attachment:local;
        background-position: center;
        background-size: cover;

        color: #FEFEFE;
        font-family: "Lemon";
        font-size: 1.7vw;

        border-radius: 1vw;


        transition: all 0.2s ease-in, padding 0.2s ease-in 0.1s;
        box-shadow: 0px 8px 6px -6px black;


        cursor: pointer;
    }

    .layout{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr;
        grid-template-rows: 1fr;

        height: calc(var(--vh,1vh)*100)
    }

    .one{
        grid-column: 1/span 1;
    }

    .two{
        grid-column: 2/span 1;
    }

    .three{
        grid-column: 3/span 1;
    }

    .four{
        grid-column: 4/span 1;
    }

    .panel{
        width:100%;
        height:100vh;
        background-color: #FEFEFE;
        transition: all 0.2s ease-out; 
    }
    .panel.one .door{
        background-image: url(images/TERM1_desktop.jpg);
        margin:var(--fullPad) 0 var(--fullPad) var(--sidePad) ;

        background-attachment:local;
        background-position: center;
        background-size: cover;
    }

    .panel.two .door{
        margin:var(--fullPad) var(--thirdPad) var(--fullPad) var(--twoThirdPad) ;
    }
    .panel.three .door{
        margin:var(--fullPad) var(--twoThirdPad) var(--fullPad) var(--thirdPad) ;
    }
    .panel.four .door{
        margin:var(--fullPad) var(--sidePad) var(--fullPad) 0 ;
    }
    body .panel .door:not(.locked):hover{
        padding-bottom: 2rem;
        border-radius: 0vw;
    }

    .door.locked{
        background-image: url(images/locked_desktop.jpg);
        cursor: default;
    }

    .locked .comingSoon{
        font-family: AkiraEx;
        display:flex;
        flex-direction: column;
        align-items: center;

        position:absolute;
        top:25%
    }

    .locked img{
        width:4vw;
        margin-bottom:1.5rem;
    }
}






@font-face{
    font-family: Lemon;
    src:url("font/lemon.woff")
}

@font-face{
    font-family: AkiraEx;
    src:url("font/AkiraEx.woff")
}
